<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">WebShop</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/product">Products</a>
      </li>
      <li>
        <a routerLink="/order">Orders</a>
      </li>
      <li>
        <a routerLink="/basket">Basket</a>
      </li>
    </ul>
  </div>
  <mat-toolbar color="primary">
    Angular Dark Mode
    <div class="flex-stretch"></div>
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </mat-toolbar>
</mat-toolbar>







