.order-container{
  height: 100vh;

}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.item-center{
  justify-content: center;
}
