
<!--   <mat-toolbar color="primary" class="app-toolbar" >

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()" *ngIf="!hideButton">
      <mat-icon>menu</mat-icon>
    </button>
    <button routerLink="" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="hideButtonFunction(true); sidenav.close()"> WebShop
      <mat-icon>shop</mat-icon>
    </button>
    <button routerLink="/product" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</button>
    <button routerLink="/order" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Orders
      <mat-icon> shopping_cart</mat-icon>
    </button>
    <button routerLink="/basket" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Basket
      <mat-icon> shopping_cart</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <div class="flex-stretch"></div>
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container hasBackdrop="false">

    <mat-sidenav #sidenav mode="push" [(opened)]="opened" >
      <mat-nav-list>
        <a mat-list-item routerLink="/product" *ngFor="let nav of fillerNav">{{nav}}</a>
        <a mat-list-item routerLink="/basket" *ngFor="let nav of fillerNav">{{nav}}</a>
        <a mat-list-item routerLink="/order" *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>


  </mat-sidenav-container>
 -->


<app-layout>
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-layout>
