/*.example-spacer {
  flex: 1 1 auto;
}


.active{
  background: darkblue;
}


.example-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.app-toolbar {
  position: sticky;
  position: -webkit-sticky;*/ /* For macOS/iOS Safari */
  /*top: 0;*/ /* Sets the sticky toolbar to be on top */
  /*z-index: 1000;*/ /* Ensure that your app's content doesn't overlap the toolbar */
/*}




.example-sidenav-container {*/
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  /*flex: 1;

}



.example-toolbar {
  position: fixed;*/
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  /*z-index: 2;
}



.main{
  padding: 30px;

}*/

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}
