<mat-toolbar class="app-toolbar" color="primary" >
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">

    <mat-icon>menu</mat-icon>
  </button>
  <button routerLink="/product" mat-icon-button>
    <mat-icon>shop</mat-icon>
  </button>
  <span routerLink="/product">Web Shop</span>
  <form [formGroup]="searchForm" (submit)="setSearchQuery()" class="search-bar">

    <input type="search" formControlName="query" placeholder="search for anything" class="">

    <button routerLink="/product" mat-flat-button color="accent" class="search-btn" type="submit">
      <div class="icon-container">
        <mat-icon>search</mat-icon>
      </div>
    </button>
  </form>
  <p *ngIf="!isAuthenticated()">
    <span routerLink="/account/login">Hello, sign in</span>
  </p>
  <p *ngIf="isAuthenticated()">
    <span>Hello, {{userName}}</span>
  </p>
  <button mat-icon-button [matMenuTriggerFor]="menu" >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button routerLink="/basket" mat-icon-button>
    <mat-icon matBadge={{itemCount}} matBadgePosition="above" matBadgeColor="accent" >shopping_cart</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div *ngIf="!isAuthenticated()">
      <button routerLink="/account/login"  mat-menu-item>
        <span>Login</span>
      </button>
      <button routerLink="/account/register"  mat-menu-item>
        <span>Register</span>
      </button>
    </div>
    <div *ngIf="isAuthenticated()">
      <button routerLink="/account/logout" mat-menu-item>
        <span>Logout</span>
      </button>
      <button routerLink="/account" mat-menu-item >
        <span>Account</span>
      </button>
      <button routerLink="/order" mat-menu-item>
        <span>Orders</span>
      </button>
    </div>
    <button routerLink="/product/create-product"  mat-menu-item>
      <span>Create product</span>
    </button>

  </mat-menu>
  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav mode="push" class="content-padding">
<!--    <button mat-raised-button (click)="sidenav.toggle()">-->
<!--      X-->
<!--    </button>-->
    <!--<h1>Categories</h1>-->
    <!-- <app-product (sendCategories)="getData($event)"></app-product>-->
    <mat-nav-list >
      <a mat-list-item routerLink="product" (click)="setCategoryId(category.id!)"  *ngFor="let category of categories">{{category.categoryName}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-padding">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
