.app-toolbar {
  position:fixed;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  height: 65px;
}

.content-padding{
  padding-top: 65px;
  height: 100vh;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}
button, input {
  font: 1em Hind, sans-serif;
}

.search-bar {
  display: flex;
}

.search-btn {
  height: 3em;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  border-radius: 1.5em;
  padding: 0.75em;
}

.search-bar input:valid {
  border-radius: 0.375em 0 0 0.375em;
  transform: scale(1);
}

.search-bar input:valid + .search-btn {
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}

.icon-container{
  display: flex;
  align-items: center;
  transform: scale(1.2);
}
button{
  min-width: 1%;
}
