<mat-toolbar class="app-toolbar toolbar-mobile-padding" color="primary" >
  <button routerLink="/product" mat-icon-button>
    <mat-icon>shop</mat-icon>
  </button>

  <h1 class="remove-on-mobile" routerLink="/product" style="padding-right: 10px;"><b>WebShop</b></h1>


  <form [formGroup]="searchForm" (submit)="setSearchQuery()"  class="search-bar">

    <button mat-flat-button color="accent" style="border-radius: 0.375em 0 0 0.375em;height: 100%;padding: 0;width: 25%;white-space: normal;word-break: break-all;" [matMenuTriggerFor]="matMenu">
      All categories
    </button>


      <mat-menu #matMenu>

        <ng-template matMenuContent>
          <button mat-menu-item  routerLink="product" (click)="setCategoryId(category.id!)" *ngFor="let category of categories">
            {{category.categoryName}}
          </button>
          <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
        </ng-template>

        <mat-menu #invertebrates="matMenu">
          <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
          <button mat-menu-item>Crustaceans</button>
          <button mat-menu-item>Corals</button>
          <button mat-menu-item>Arachnids</button>
          <button mat-menu-item>Velvet worms</button>
          <button mat-menu-item>Horseshoe crabs</button>
        </mat-menu>

      </mat-menu>






    <input class="mat-typography" type="search" [ngClass]="{'input-background': toggleControl.value}"
           (blur)="setSearchQuery()" formControlName="query" placeholder=" search for anything">


    <button routerLink="/product" mat-flat-button color="accent" class="search-btn" type="submit" style="width: 10%;min-width: 1%">
      <div class="icon-container">
        <mat-icon>search</mat-icon>
      </div>
    </button>


  </form>
  <h6 class="remove-on-mobile mat-typography" *ngIf="!isAuthenticated()" routerLink="/account/login" style="padding-left: 10px;">
    Hello, sign in
  </h6>
  <h6 *ngIf="isAuthenticated()" class="mat-typography">
    Hello, {{userName}}
  </h6>
  <button mat-icon-button [matMenuTriggerFor]="menu" >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button routerLink="/basket" mat-icon-button>
    <mat-icon matBadge={{itemCount}} matBadgePosition="above" matBadgeColor="accent" >shopping_cart</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div *ngIf="!isAuthenticated()">
      <button routerLink="/account/login"  mat-menu-item>
        <span>Login</span>
      </button>
      <button routerLink="/account/register"  mat-menu-item>
        <span>Register</span>
      </button>
    </div>
    <div *ngIf="isAuthenticated()">
      <button routerLink="/account/logout" mat-menu-item>
        <span>Logout</span>
      </button>
      <button routerLink="/account" mat-menu-item >
        <span>Account</span>
      </button>
      <button routerLink="/order" mat-menu-item>
        <span>Orders</span>
      </button>
    </div>
    <button routerLink="/product/create-product"  mat-menu-item>
      <span>Create product</span>
    </button>

  </mat-menu>

  <div style="display: flex;flex-direction: row;align-items: center;">
    <mat-icon  class="remove-on-mobile" >brightness_5</mat-icon>


    <mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>


    <mat-icon class="remove-on-mobile" >bedtime</mat-icon>
  </div>









</mat-toolbar>


<mat-drawer-container>
  <mat-drawer-content class="main-content mat-typography" >
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>


