<!--
<button mat-raised-button color="primary" routerLink="/product/create-review">Create review</button>
<div class="responsive-grid">
  <mat-card *ngFor="let product of products()" matSort matSortStart="desc">
    <mat-card-header>
      <mat-card-title>{{ product.productName }} </mat-card-title>
      <mat-card-subtitle>{{ product.price}}$</mat-card-subtitle>
    </mat-card-header>
    <br />
    <div style="display: flex; flex-flow: row wrap;">
      <div *ngFor="let image of product.imageUris">
        <img mat-card-image [ngSrc]="image" height="300" width="300" style="width: 300px;height: 300px; ; padding: 10px"  alt="image"/>
      </div>

    </div>

    <mat-card-content>
      <br />
      <p>
        {{ product.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/product/update-review" mat-button>Update review</button>
      <button routerLink="/product/delete-review" mat-button>Delete review</button>
    </mat-card-actions>
  </mat-card>
</div>
-->
